*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
.header img{
    display: block;
}